* {
    box-sizing: border-box;
  }

  body {
      font-family:fantasy;
      color: rgb(163, 115, 10);
      text-align: center;
  }

  h3 {
      font-size: 36px;
  }

  p {
      font-size: 22px;
  }

  #invite {
      height: 800px;
      width: 800px;
      background-image: url("imgs/scroll-party.png");
      background-size: contain;
      padding: 160px 190px 180px 190px;
  }

  #rsvp-button {
    background: rgb(231, 199, 141);
    border: none;
    height: 40px;
    width: 166px;
    font-size: 20px;
    font-family: fantasy;
    line-height: 45px;
    border-radius: 15px;
    font-style: italic;
    box-shadow: 5px 5px gray;
  }
