<!DOCTYPE html>
<html>
    <head>
        
    </head>

    <body>
        <form action="/view" method="GET">
            
            <label for="style">Choose a style:</label>
            <select name="style" id="style">
                <option value="kids">Kids</option>
                <option value="cat">Cat</option>
                <option value="scroll">Scroll</option>
            </select>
            
            <div>
                <label for="event">Event name: </label>
                <input name="event" id="event" value="Birthday party" required>
            </div>

            <div>
                <label for="to">Who do you want to invite? </label>
                <input name="to" id="to" value="Friend" required>
            </div>

            <div>
                <label for="date">What date is the event? </label>
                <input name="date" id="date" value="37th Mocktober" required>
            </div>

            <div>
                <label for="time">What time is the event? </label>
                <input name="time" id="time" value="3pm" required>
            </div>

            <div>
                <label for="sender">Your name </label>
                <input name="sender" id="sender" value="Renee" required>
            </div>

            <div>
                <button>Make my invitation!</button>
            </div>


        </form>


    </body>
</html>