<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/cat-style.css">
    </head>

    <body>
        <div id="invite">
            <h3>Dear {{ to }},</h3>

            <p>Come join us for a purrr-fect day at <strong>{{ event_name }}</strong>!</p>

            <p>
                <strong>Date:</strong> {{ date }}<br>
                <strong>Time:</strong> {{ time }}
            </p>

            <p>
                See you there!<br>
                <em>{{ sender }}</em>
            </p>

            <button id="rsvp-button" onclick="sendRsvp(this.value)" value="{{ to }},{{ eventId }}">I'll be there!</button>
            <h2 id="see-you-there" hidden="true">Great! We'll see you there! 🎉</h2>

        </div>

    </body>